body {
  background-color: #1c1c1c;
  font-family: 'Cabin';
  color: #c3c3c3;
  margin: 0 0 0 0;
}

span.logo {
  font-family: 'Lobster';
}

h1 {
  font-family: 'Lobster';
  margin-top: 35px;
  margin-bottom: 35px;
}

ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  text-align: center;
}

li.menuitem {
  display: inline-block;
}

li.menuitem a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.menuitem a:hover {
  background-color: #202020;
}

a:link,
a:visited {
  text-decoration: none;
  color: #4267b2;
}

a:hover,
a:active {
  text-decoration: none;
  color: #4389c3;
}

.centered {
  width: 70%;
  margin: 0 auto;
}

.active {
  background-color: #4267b2;
}

@media only screen and (max-width:620px) {
  .centered {
    width: 95%;
  }
  li.menuitem {
    width: 100%;
  }
}

